In [ ]:
fruit =['apples','banana','oranges']
print(fruit)

['apples', 'banana', 'oranges']

In [ ]:
from datetime import *
import pytz

tz_INDIA = pytz.timezone('Asia/Kolkata')
datetime_INDIA = datetime.now(tz_INDIA)
print("INDIA time: ", datetime_INDIA.strftime("%H:%M:%S"))

In [ ]:
mylist= ['10','20','bhumi','python']
mylist[2:5]

['bhumi', 'python']

In [ ]:
#changing values in lists
mylist[1]=25
print(mylist)

['10', 25, 'bhumi', 'python']

In [ ]:
mylist.insert(3,100)
mylist

['10', 25, 'bhumi', 100, 100, 100, 'python', 34]

In [ ]:
mylist.insert(4,"upes")
mylist

['10', 25, 'bhumi', 100, 'upes', 100, 100, 'python', 34]

In [ ]:
#reversing the list
mylist.reverse()
mylist

[34, 'python', 100, 100, 'upes', 100, 'bhumi', 25, '10']

In [ ]:
a =[1,2,3]
a.append(7)
print(a)

[1, 2, 3, 7]

In [ ]:
courses={1 : 'python',
          2 : 'datascience',
         'third' : 'AI'}

In [ ]:
print(courses)

{1: 'python', 2: 'datascience', 'third': 'AI'}

In [ ]:
courses[2]

'datascience'

In [ ]:
tuple=('tiger','giraffe','loin','10','20','30')
print(tuple)

('tiger', 'giraffe', 'loin', '10', '20', '30')

In [ ]:
tuple[2]

'loin'

In [ ]:
print("string manuplation exercise \n string concatenation is done with '+' sign\n for example print('hello + touseef')\n new lines can be created with backlash and\n")

string manuplation exercise
 string concatenation is done with '+' sign
 for example print('hello + touseef')
 new lines can be created with backlash and

In [ ]:
input("what is your name")

what is your nameupes

'upes'

In [ ]:
#swapping of two numbers
a=input("enter the value of a=")
b=input("enter the value of b=")
temp=a
a=b
b=temp
print("a=" + a)
print("b=" + b)

enter the value of a=3
enter the value of b=6
a=6
b=3

In [ ]:
#name="bhumi"
name="12"
print( 10 + int(name))

22

In [ ]:
#BMI=weight/height*2
height=float(input("enter the value of height in m"))
weight=float(input("Enter the value of weight in kg"))
bmi= weight/ (height * height)
print("BMI is", bmi)

enter the value of height in m56
Enter the value of weight in kg99
BMI is 0.031568877551020405

In [ ]:
abc=5
acb=4
print(abc & acb)

4

In [ ]:
print(abc|acb)

5

In [ ]:
print(~abc)

-6

In [ ]:
print(~acb)

-5

In [ ]:
print(abc>>2)

1

In [ ]:
xy=6
yz=6
print(xy==yz)

True

In [ ]:
print(id(xy))

137472143393168

In [ ]:
print(id(yz))

137472143393168

In [ ]:
print(xy is yz)

True

In [ ]:
str = "bhumi"
print('mi' in str)

True

In [ ]:
#if statement
age=int(input("enter your age"))
if age>18:
  print("you can apply for license")
  #print("you are not eligible")#if you dont want to print anything after if block

enter your age19
you can apply for license

In [ ]:
number = int(input("enter the numbers="))
if number % 2 == 0:
  print("it is an even number")
else:
  print("it is an odd number")
print("thankyou")

enter the numbers=67
it is an odd number
thankyou

In [ ]:
a=51
if a%2 == 0:
 print("number is even")
if a>30:
  print("the number is greater than 30")
  print("bye")

the number is greater than 30
bye

In [ ]:
#we are going in a park and they ask you about your age to check how much money you have to pay for
ht = int(input("enter your height="))
if ht >= 4:
  print("you can ride")
  age = int(input("enter your age"))
  if age<=18:
    print("you have to pay 250rs")
  else:
    print("you have to pay 500rs")
else:
   print("you cannot ride")

In [ ]:
number = int(input("enter the input"))
if number == 1:
  print("one")
if number == 2:
  print("two")
if number == 3:
  print("three")

enter the input3
three

In [ ]:
# if elif else
number = int(input("enter the number between 0 to 30.."))
if (number > 0 and number <= 10):
    print("number ranges from 0 to 10")
elif (number > 10 and number <= 20):
    print("number ranges from 10 and 20")
elif(number >20 and number <=30):
    print("number ranges from 20 to 30")
else:
  print("you have not entered correct number")

enter the number between 0 to 30..17
number ranges from 10 and 20

In [ ]:
year = int(input("enter the year you want to check"))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("it is not leap year")

enter the year you want to check1967
it is not leap year

In [ ]:
height = int(input("enter the height="))
bill=0
if height >= 3:
  print("you are eligible to ride")
  age = int(input("enter your age"))
  if age <= 12:
     bill = 150
     print("you have to pay 150rs")
  elif age <= 18:
    bill = 250
    print("you have to pay 250 rs")
  else:
    bill = 500
    print("you have to pay 500rs")
photo = input("do you want to take photo press Y or N: ")
if photo == "Y" or photo == "y":
  bill = bill + 50
  print("your bill is", bill)

enter the height=3
you are eligible to ride
enter your age15
you have to pay 250 rs
do you want to take photo press Y or N: Y
your bill is 300

In [ ]:
#bill for pizza
size = input("enter the size: ")
bill = 0
if size == "small":
  bill = 200
  print("you have to pay 200rs")
elif size == "medium":
  print("you have to pay 400")
elif size == "large":
  print("you have to pay 500")
  pepper = input("do you want to take pepper press Y or N: ")
  if pepper == "Y" or pepper == "y":
    bill = bill + 50
  extra_cheese = input("do you want extra chheese press Y or N:")
  if extra_cheese == "Y" or extra_cheese == "y":
    bill2 = bill +20
  print("your bill is",bill)

enter the size: large
you have to pay 500
do you want to take pepper press Y or N: Y
do you want extra chheese press Y or N:Y
your bill is 50

In [ ]:
piz=input("enter the pizza size[S,M,L] ")
if(piz=='S' or piz=='s'):
  bill=100
  a=input("do you want to add extra cheese....Y or N ")
  if(a=='Y' or a=='y'):
    bill+=30
elif(piz=='M' or piz=='m'):
  bill=200
  a=input("do you want to add extra cheese....Y or N ")
  if(a=='Y' or a=='y'):
    bill+=50
elif(piz=='L' or piz=='l'):
  bill=300
  a=input("do you want to add extra cheese....Y or N ")
  if(a=='Y' or a=='y'):
    bill+=50
else:
  print("don't need pizza")
print(bill)

enter the pizza size[S,M,L] M
do you want to add extra cheese....Y or N Y
250

In [ ]:
#virtual toss program
import random
side =random.randint(0,1)
if side==1:
  print("heads")
else:
    print("tails")

heads

In [ ]:
text = "welcome to python program"
text_s =text.split(" ")
print(text_s)

['welcome', 'to', 'python', 'program']

In [ ]:
matrix = []
row1 = [0,0,0]
row2 = [1,1,1]
row3 = [2,2,2]
print(f"(row1)\n (row2)\n (row3)\n")
matrix = [row1,row2,row3]

position = input("enter the position")
print(" ")

In [ ]:
tuple = ("upes" , 10, 12.4 , True )
tuple

('upes', 10, 12.4, True)

In [ ]:
tuple1 = (10,)
tuple1

(10,)

In [ ]:
print(type(tuple1))

<class 'tuple'>

In [ ]:
#slicing
print(tuple[-2])

12.4

In [ ]:
print(tuple[:-2])

('upes', 10)

In [ ]:
print(tuple.count(10))

1

In [ ]:
print(tuple.index(10))

1

In [ ]:
set1 = {1,34,-23,"upes",-1,-23}
print(set1)

{1, 34, 'upes', -23, -1}

In [ ]:
set1.add(99)

In [ ]:
print(set1)

{1, 34, 99, 'upes', -23, -1}

In [ ]:
set1.clear()
print(set1)

set()

In [ ]:
set2 = ()

In [ ]:
print(type(set2))

<class 'tuple'>

In [ ]:
ss=set()

In [ ]:
print(type(ss))

<class 'set'>

In [ ]:
set2 = {1,2,3,4,5,67,89, True, "upes", "python"}

In [ ]:
set2.pop()

'upes'

In [ ]:
set1 = set([12,67,89,34])
set2 = set([54,31,67,92])
print(set1.union(set2))

{34, 67, 12, 54, 89, 92, 31}

In [ ]:
set1.update(set2)

In [ ]:
print(set1)

{34, 67, 12, 54, 89, 92, 31}

In [ ]:
set1.intersection(set2)

{31, 54, 67, 92}

In [ ]:
set1 & set2

{31, 54, 67, 92}

In [ ]:
set1.intersection_update(set2)

In [ ]:
set1

{31, 54, 67, 92}

In [ ]:
name = "upes"
for x in name:
  print(x)

u
p
e
s

In [ ]:
list = ["python","upes","socs"]
for x in list:
  print(x)

python
upes
socs

In [ ]:
numbers = [12,23,43,56,67]
for i in numbers:
  print(1)
  if i == 43:
    break
  else:
      print("the list has been executed successfully")

1
the list has been executed successfully
1
the list has been executed successfully
1

In [ ]:
i = int(input("enter height in number"))
ct = 0
for i in range(len(list)):
  list.append(i)
  ct+= int(list[i])
  print(ct)

In [ ]:
# Use the list1 variable instead of height_list
count = 0
for x in list1:
  count = count + 1
  print(count)
  for i in range(count):
    list1[1] = int(list1[1])
    print(list1)
    total = 0
    for i in list1:
      total = total + 1
      print(total)
      avg = total/count
      print(round(avg))

In [6]:
for i in range(2, 5):
  print(i)

2
3
4

In [11]:
for i in range(-1,-11,-1):
  print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [13]:
sum = 0
for i in range (0, 101, 2):
  sum = sum + i
  print(sum)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550

In [18]:
#fizz buzz job program
for i in range(0 , 101 , 1):
   if i%3 == 0 and i%5 == 0:
     print("fizzbuzz")
   elif i % 3 == 0:
     print("fizz")
   elif i % 5 == 0:
     print("buzz")
   else:
     print(i)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
# password generator program
import random
length = int(input("enter password length: "))
list1 = [0,1,2,3,4,5,6,7,8,9]
list2 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
list3 = ['!','@','#','$','%','&','*','+','-']
print("welcome to password generator")
L = int(input("how many letters you want"))
S = int(input("how many symbols you want"))
N = int(input("how many numbers you want"))

In [ ]:
import string
import random

length = int(input("Enter password length: "))
print('''Choose character set for password from these :
		1. Digits
		2. Letters
		3. Special characters
		4. Exit''')

characterList = ""

while(True):
	choice = int(input("Pick a number"))
	if(choice == 1):

		characterList += string.ascii_letters
	elif(choice == 2):

		characterList += string.digits
	elif(choice == 3):

		characterList += string.punctuation
	elif(choice == 4):
		break
	else:
		print("Please pick a valid option!")

password = []

for i in range(length):

	randomchar = random.choice(characterList)
	password.append(randomchar)
print("The random password is " + "".join(password))